---
import Navbar from "../components/Navbar.astro"
import MainLayout from "../layouts/Mainlayout.astro" // Corrected import

//Server side Only - created in build
const name = 'David Hernandez'
---

<Navbar/>
<MainLayout/>
<h1>Astro</h1>
<h4>˚{name}˚</h4>

<p>Momento Creacion :{ new Date().toLocaleTimeString()}</p>
<p id="current-time">Momento Actual : </p>
<footer>
 <p>&copy; 2022 Astro</p>
</footer>
<script>
//Client side only - once is running
const currentTimeParagraph = document.querySelector('#current-time') as HTMLParagraphElement;
currentTimeParagraph.innerText= `Momento actual real: ${new Date().toLocaleTimeString()}`;

</script>